<div *ngIf="loading" class="container text-center" >
  <app-spinner></app-spinner>
</div>
<table *ngIf="!loading" class="table">
  <thead>
    <tr>
      <th scope="col">UID</th>
      <th scope="col">ID</th>
      <th scope="col">Estado</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estado of estados">
      <td>{{estado.uid}}</td>
      <td>{{estado.id}}</td>
      <td>{{estado.nombre}}</td>
      <td>{{estado.descripcion}}</td>
      <td><button (click)="abrirFormularioParaEditar(estado.uid!)">Editar</button></td>
      <td><button (click)="eliminarEstado(estado.uid!)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="formulario">
  <form action="">
    <input [(ngModel)]="nombre" placeholder="nuevo nombre" type="text" name="name" id="nuevoNombre">
    <br><br>
    <input [(ngModel)]="descripcion" placeholder="nueva descripcion" type="text" name="descrip" id="nuevaDescripcion">
    <br><br>
    <br>
    <button (click)="guardarCambios()">Guardar</button>
  </form>
</div>


